@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>A Miigu by Mia Games usará os dados informados pelos clientes somente para fins de procedimento administrativo. Seus dados estão seguros conosco: eles não serão repassados a terceiros; dados bancários e de cartão de crédito não serão guardados.</p>
