@page
@{
    ViewData["Title"] = "Quem Somos";
}
<h1>@ViewData["Title"]</h1>
<div class="row justify-content-md-center">
    <div class="col-8 p-5">

        <h3>Bem-vindo à Miigu by Mia!</h3>
        <h5>
            Aqui você encontra receitas fáceis de seguir para vários amigurumis.
        </h5>

        <p>
            <img class="img-fluid float-end p-3" src="https://i0.wp.com/www.miahandcrafter.com/atelier/wp-content/uploads/2021/09/perfil-novo-mia2.jpg?fit=251%2C300&ssl=1"
                 style="max-width: 40%" />
            Olá! ♥ Eu me chamo Ana Amélia M. Galvão, mas também sou conhecida como Miahandcrafter ou Mia.
        </p>
        <p>
            Desde de criança sempre gostei de artes manuais, mas a que me conquistou para valer foi o crochê. Aprendi a crochetar em 2010 com a minha avó e a cada dia fui me encantando cada vez mais com a técnica do amigurumi e com as possibilidades do crochê.
        </p>
        <p>
            Em 2012 decidi criar este blog motivada pelo desejo de compartilhar minhas receitas e também de ajudar quem está iniciando ou quem já faz crochê há algum tempo.
        </p>
        <p>
            No meu Instagram (miigubymia) tenho publicado outras receitas e  dicas sobre amigurumi que são um conteúdo exclusivo de lá. Então, vale a pena acompanhar também :)
        </p>
        <h5>
            Contate-nos
        </h5>
        <p>
            Quaisquer dúvidas e sugestões são bem vindas. Basta entrar em contato.
        </p>
    </div>
</div>
